/**
 * overrides + global styles
 */
.header {
  border-bottom: 1px solid var(--ion-color-secondary);
}

.heading {
  color: var(--ion-color-primary);
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.overline {
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: .1666666667em;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

p {
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  color: var(--ion-color-charcoal);
  line-height: 1.7;
}

/* animations */
@keyframes slide-fade {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.slide-fade {
  animation: 2s ease slide-fade;
}
