/**
 * overrides + global styles
 */
.heading {
  color: var(--ion-color-primary);
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

p {
  color: var(--ion-color-charcoal);
}