/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Quicksand:wght@500;700&display=swap');

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #6E958C;
  --ion-color-primary-rgb: 110,149,140;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #61837b;
  --ion-color-primary-tint: #7da098;

  /** secondary **/
  --ion-color-secondary: #A8C9C2;
  --ion-color-secondary-rgb: 168,201,194;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #94b1ab;
  --ion-color-secondary-tint: #b1cec8;

  /** tertiary **/
  --ion-color-tertiary: #E7F5F2;
  --ion-color-tertiary-rgb: 231,245,242;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #cbd8d5;
  --ion-color-tertiary-tint: #e9f6f3;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** creme **/
  --ion-color-creme: #fffffd;
  --ion-color-creme-rgb: 255,255,253;
  --ion-color-creme-contrast: #000000;
  --ion-color-creme-contrast-rgb: 0,0,0;
  --ion-color-creme-shade: #e0e0df;
  --ion-color-creme-tint: #fffffd;

  /** forest **/
  --ion-color-forest: #314336;
  --ion-color-forest-rgb: 49,67,54;
  --ion-color-forest-contrast: #ffffff;
  --ion-color-forest-contrast-rgb: 255,255,255;
  --ion-color-forest-shade: #2b3b30;
  --ion-color-forest-tint: #46564a;
  
  /** jay **/
  --ion-color-jay: #3474DB;
  --ion-color-jay-rgb: 52,116,219;
  --ion-color-jay-contrast: #ffffff;
  --ion-color-jay-contrast-rgb: 255,255,255;
  --ion-color-jay-shade: #2e66c1;
  --ion-color-jay-tint: #4882df;

  /** taro **/
  --ion-color-taro: #A072D6;
  --ion-color-taro-rgb: 160,114,214;
  --ion-color-taro-contrast: #000000;
  --ion-color-taro-contrast-rgb: 0,0,0;
  --ion-color-taro-shade: #8d64bc;
  --ion-color-taro-tint: #aa80da;

  /** charcoal **/
  --ion-color-charcoal: #404040;
  --ion-color-charcoal-rgb: 64,64,64;
  --ion-color-charcoal-contrast: #ffffff;
  --ion-color-charcoal-contrast-rgb: 255,255,255;
  --ion-color-charcoal-shade: #383838;
  --ion-color-charcoal-tint: #535353;

  /* ruby red */
  --ion-color-ruby-red: #CC0000;
  --ion-color-ruby-red-rgb: 204,0,0;
  --ion-color-ruby-red-contrast: #ffffff;
  --ion-color-ruby-red-contrast-rgb: 255,255,255;
  --ion-color-ruby-red-shade: #b40000;
  --ion-color-ruby-red-tint: #d11a1a;

  /** html orange **/
  --ion-color-html-orange: #E44D26;
  --ion-color-html-orange-rgb: 228,77,38;
  --ion-color-html-orange-contrast: #ffffff;
  --ion-color-html-orange-contrast-rgb: 255,255,255;
  --ion-color-html-orange-shade: #c94421;
  --ion-color-html-orange-tint: #e75f3c;

  /** css blue **/
  --ion-color-css-blue: #264DE4;
  --ion-color-css-blue-rgb: 38,77,228;
  --ion-color-css-blue-contrast: #ffffff;
  --ion-color-css-blue-contrast-rgb: 255,255,255;
  --ion-color-css-blue-shade: #2144c9;
  --ion-color-css-blue-tint: #3c5fe7;
}

/** creme **/
.ion-color-creme {
  --ion-color-base: var(--ion-color-creme);
  --ion-color-base-rgb: var(--ion-color-creme-rgb);
  --ion-color-contrast: var(--ion-color-creme-contrast);
  --ion-color-contrast-rgb: var(--ion-color-creme-contrast-rgb);
  --ion-color-shade: var(--ion-color-creme-shade);
  --ion-color-tint: var(--ion-color-creme-tint);
}

/** forest **/
.ion-color-forest {
  --ion-color-base: var(--ion-color-forest);
  --ion-color-base-rgb: var(--ion-color-forest-rgb);
  --ion-color-contrast: var(--ion-color-forest-contrast);
  --ion-color-contrast-rgb: var(--ion-color-forest-contrast-rgb);
  --ion-color-shade: var(--ion-color-forest-shade);
  --ion-color-tint: var(--ion-color-forest-tint);
}

/** jay **/
.ion-color-jay {
  --ion-color-base: var(--ion-color-jay);
  --ion-color-base-rgb: var(--ion-color-jay-rgb);
  --ion-color-contrast: var(--ion-color-jay-contrast);
  --ion-color-contrast-rgb: var(--ion-color-jay-contrast-rgb);
  --ion-color-shade: var(--ion-color-jay-shade);
  --ion-color-tint: var(--ion-color-jay-tint);
}

/** taro **/
.ion-color-taro {
  --ion-color-base: var(--ion-color-taro);
  --ion-color-base-rgb: var(--ion-color-taro-rgb);
  --ion-color-contrast: var(--ion-color-taro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-taro-contrast-rgb);
  --ion-color-shade: var(--ion-color-taro-shade);
  --ion-color-tint: var(--ion-color-taro-tint);
}

/** charcoal **/
.ion-color-charcoal {
  --ion-color-base: var(--ion-color-charcoal);
  --ion-color-base-rgb: var(--ion-color-charcoal-rgb);
  --ion-color-contrast: var(--ion-color-charcoal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-charcoal-contrast-rgb);
  --ion-color-shade: var(--ion-color-charcoal-shade);
  --ion-color-tint: var(--ion-color-charcoal-tint);
}

/** ruby red **/
.ion-color-ruby-red {
  --ion-color-base: var(--ion-color-ruby-red);
  --ion-color-base-rgb: var(--ion-color-ruby-red-rgb);
  --ion-color-contrast: var(--ion-color-ruby-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ruby-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-ruby-red-shade);
  --ion-color-tint: var(--ion-color-ruby-red-tint);
}

/** html orange **/
.ion-color-html-orange {
  --ion-color-base: var(--ion-color-html-orange);
  --ion-color-base-rgb: var(--ion-color-html-orange-rgb);
  --ion-color-contrast: var(--ion-color-html-orange-contrast);
  --ion-color-contrast-rgb: var(--ion-color-html-orange-contrast-rgb);
  --ion-color-shade: var(--ion-color-html-orange-shade);
  --ion-color-tint: var(--ion-color-html-orange-tint);
}

/** css blue **/
.ion-color-css-blue {
  --ion-color-base: var(--ion-color-css-blue);
  --ion-color-base-rgb: var(--ion-color-css-blue-rgb);
  --ion-color-contrast: var(--ion-color-css-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-css-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-css-blue-shade);
  --ion-color-tint: var(--ion-color-css-blue-tint);
}